html{
    height: 100%;
}

body{
    background-color: rgba(17, 25, 29, 0.137);
    min-height: 100%;
    position: relative;
    padding-bottom: 150px;
}

header{
    background-color: rgba(23, 46, 58, 0.705);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1{
    color: #FFD400;
    margin-top: 5px;
    margin-left: 5px;
}

a{
    display: inline;
}

a:link{
    padding: 13px 5px;
    background-color: rgba(17, 25, 29, 0.425);
    font-size: 25px;
    display: block;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    transition: 200ms;
    margin: 5px;
}

a:visited{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: white;
    background-color: rgba(23, 28, 31, 0.664);
    transition: 200ms;
}

p{
    text-align: justify;
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
}

hr{
    border-width: 4px;
    background-color: #FFD400;
}

footer{
    background-color: rgba(23, 46, 58, 0.705);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    color: white;
    margin-top: 40px;
    padding: 10px;
}

.center{
    margin: auto;
}

.text{  
    width: 66.6%;
    margin: auto;
    padding-top: 45px;
}

.ytext{
    color: #FFD400 !important;
}


