html, body{
    height: 100%;
    margin: 0;
}

.wrapper{
    min-height: 100%;
    margin-bottom: -25px;
}

.header{
    padding: 10px;
    background-color: rgb(255, 223, 81);
    font-family: 'Montserrat';
    text-align: center;
    font-size: 50px;
    color: rgb(46, 46, 46)
}

.divtop{
    background-color: rgb(255, 223, 81);
    align-self: center;
}

.sidediv{
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer{
    height: 25px;
    background-color: rgb(255, 223, 81);
    color: black;
    text-align: center;
    font-family: 'Montserrat';
}

.push{
    height: 25px;
}

.text{
    font-family: 'Sarabun', sans-serif;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(213, 225, 233);
    border-radius: 8px;
}

.img{
    transition: 0.2s;
}

.img:hover{
    transform: scale(1.2,1.2);
}

.sideimg{
    transform: scale(0.5,0.5);
}

.sideimg2{
    transform: scale(0.7,0.7);
}

.sideimgcenter{
    text-align: center;
}

.a{
    padding: 5px;
    background-color: rgb(255, 240, 172);
    border-radius: 8px;
    transition: 0.2s;
}

.a:hover{
    background-color: rgb(255, 246, 209);
    color: rgb(85, 85, 85);
}

a:link{
    color: rgb(46, 46, 46);
    text-decoration: underline;
}

a:visited{
    color: rgb(46, 46, 46);
}

a:hover{
    color: rgb(85, 85, 85);
}